header{
    background: var(--black);
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index: 1000;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    text-decoration: none;
    padding-top: 25px;
    padding-bottom: 25px;
    color: var(--white);
    font-size: 30px;
    font-family: 'Sen';
    font-weight: 600;
}
