.colorBigDiv {
  display: flex;
  justify-content: end;
}
.colorDivOne {
  width: 843px;
  height: 23px;
  background: var(--yellow);
}
.colorDivTwo {
  width: 282px;
  height: 23px;
  background: var(--purple);
}
.colorDivContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--lavender);
  padding: 85px;
}
.bigPar {
  font-family: "Inter";
  font-weight: 600;
  color: var(--black);
  padding-bottom: 24px;
}
.miniPar {
  color: var(--mediumGray);
  font-family: "Inter";
  padding-top: 16px;
  padding-bottom: 16px;
  line-height: 28px;
}
.button {
  font-size: 18px;
  font-weight: 700;
  font-family: "Sen";
  text-decoration: none;
}
.bigHeading {
  font-weight: 700;
  font-size: 36px;
  font-family: "Sen";
  line-height: 48px;
  color: var(--black);
}
.miniHeading {
  color: var(--black);
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  font-family: "Sen";
}


