footer{
    background: var(--black);
    margin-top: 50px;
}
.contentFooter{
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoFooter{
    font-size: 30px;
    font-weight: 700;
    color: var(--white);
    font-family: 'Sen';
}
.contentFooter2{
    background: var(--lightBlack);
    margin-top: 60px;
    padding: 80px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.footerHeadig{
    font-size: 32px;
    color: var(--white);
    font-family: 'Sen';
    font-weight: 700;
}
.inputFooter{
    outline: none;
    border: 1px solid var(--darkGray);
    color:var(--white);
    background: var(--lightBlack);
    padding: 15px 0 15px 25px ;
    font-size: 18px;
    font-family: 'Inter';
    margin-right: 25px;
}
.downFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 55px;
}
.footerPar{
    color:var(--white);
    font-size: 16px;
    font-family: 'Sen';
    opacity: .7;
}
.footerPar:first-of-type{
    padding-bottom: 5px;
}
.social{
    display: flex;
    gap: 27px;
}
  
.error p {
    color: var(--red);
    font-family: 'Inter';
    font-weight: 700;
    padding-bottom: 15px;
  }